@using Otm.Client.ViewModel

@inherits DataContextComponentBase<OtmStatusViewModel>

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Otm</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        @if (ViewModel.Loading)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="">
                    <span class="oi oi-reload rotating" aria-hidden="true"></span> Carregando...
                </NavLink>
            </li>
        }
        else
        {
            @if (ViewModel.ContextsStatus == null || ViewModel.ContextsStatus.Count() <= 0)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="">
                        <span class="oi oi-menu" aria-hidden="true"></span> Sem contextos
                    </NavLink>
                </li>
            }
            else
            {
                @foreach (var ctx in ViewModel.ContextsStatus.Values)
                {
                    <li class="nav-item px-3">
                        <a class="nav-link" @onclick="@(() => OnContextClick(ctx))">
                            <span class="oi oi-menu" aria-hidden="true"></span>
                            @ctx.Name
                            <span class="oi oi-status oi-circle-x"></span>
                        </a>

                        <ul class="nav-sub flex-column @(ctx.Collapsed ? "hide" : null)">
                            <li class="nav-item px-3">
                                <a class="nav-link"><span class="oi oi-script" aria-hidden="true"></span> Data Point</a>

                                @foreach (var dtp in ctx?.DataPointStatus?.Values)
                                {
                                    <ul class="nav-sub flex-column">
                                        <li class="nav-item px-3">
                                            <a class="nav-link"  @onclick="@(() => OnDataPointClick(ctx.Name, dtp.Name))"><i class="oi @((dtp.DebugMessages ? "oi-media-stop" : "oi-play-circle"))"></i>@(dtp.Name)</a>
                                        </li>
                                        @*
                                            <li class="nav-item px-3">
                                                <a class="nav-link"><span class="oi oi-script" aria-hidden="true"></span>Script: @(dtp.Value.Script)</a>
                                            </li>
                                            <li class="nav-item px-3">
                                                <a class="nav-link"><span class="oi oi-script" aria-hidden="true"></span>Driver: @(dtp.Value.Driver)</a>
                                            </li>
                                            <li class="nav-item px-3">
                                                <a class="nav-link"><span class="oi oi-script" aria-hidden="true"></span>DebugMessages: @(dtp.Value.DebugMessages)</a>
                                            </li>
                                        *@
                                    </ul>
                                }
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link"><span class="oi oi-monitor" aria-hidden="true"></span> Dispositivos</a>
                            </li>
                            <li class="nav-item px-3">
                                <a class="nav-link"><span class="oi oi-transfer" aria-hidden="true"></span> Transações</a>
                            </li>
                        </ul>
                    </li>

                }
            }
        }
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="context/create">
                <span class="oi oi-plus" aria-hidden="true"></span> Criar contexto
            </NavLink>
        </li>
    </ul>
</div>
